/*General Styling*/
html {
	scroll-behavior: smooth;
	font-family: Helvetica, Arial, sans-serif;
}
th {
	background: lightgray;
	border-bottom-style: solid;
	border-width: 3px;
	border-color: darkgray;
}
section {
  min-height: 100vh;
  padding-top: 100px;
}


/*Styling for navbar*/
#navbar {
  overflow-x: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  left : -1px;
  width: 100%;
  z-index: 4;
}
#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
td {
	padding-left: 5px;
	padding-right: 5px;
}
@media screen and (min-width : 1000px) {
  #navbar a:hover {
    background-color: darkgray;
  }
}
.content {
  padding: 30px;
}
/*DataTables Styling*/
td.dt-control {
    background: url('https://cekfakta.com/vendor/datatables/datatables/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.dt-control{
    background: url('https://cekfakta.com/vendor/datatables/datatables/examples/resources/details_close.png') no-repeat center center;
}
table.dataTable {
	border-collapse: collapse;
	width: 100%;
}
th{
	width: 100%;
}
tr.selected td a {
	color: white;
}
tr td a {
	color: #337ab7;
}
